/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
main{
    width: 100%;
    margin-top: 50px;
}
nav{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding: 1rem;
}

.nav-image{
    height: 45px;
    margin-top: 3px;
    width: auto;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.nav-links li{
    /* margin: 2px 8px; */
    margin-right: 4rem;
}

.main-image{
    background-image: url('../images/landing.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-width: 500px;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    text-align: center;
    padding-bottom: 20%;
}

h1{
    color: #FFF;
    font-size: 4em;
}
.main-image p{
    color: #FFF;
    font-size: 1.2em;
    width: 50%;
}


.feature-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-groupe{
    display: flex;
    width: 100%;
    flex-direction: row;

    justify-content: space-around;
    font-size: 1.2rem;
}

article img{
    width: 40px;
    height: 40px;
}

.article-groupe article{
    flex-basis: auto;
    flex: 1;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    text-align: center;
}

.explain-section{
    background-color:#00B172 ;
    color: #FFF;
    padding: 5rem;
}

.explain-section h2{
    text-decoration: underline;
    font-size: 2rem;
    margin-bottom: 0px;
}

.explain-content{
    flex-grow: 1;
    flex: 2;
    background-color:#00B172 ;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    gap:1rem
}

.explain-article-groupe{
    /* width: 50%; */
    flex-grow: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.explain-article-groupe article{
    font-size: 1.3rem;
    width: 80%;
}
#logo{
    width: 5rem;
    height: 5rem;
}

.explain-article-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-grow: 1;
    /* min-width: 5rem ;  */
}

.app-image{
    height: 25rem;
    /* min-width: 5rem ;  */
}